body
{
  font-family: Arial, sans-serif;
  color: #13262F ;
  background-color: #B0A084;
}

header
{
  font-family: Courier, sans-serif;
  font-size: larger;
  text-align: center; 
  color: #583E23; 
}


h2
{
    color: #13262F;
    font-family: 'Italianno', cursive;
    font-size: 60px;
    text-align: center;
}

h3
{
    color: #13262F;
    font-family: Arial, sans-serif;
    text-align: center;
    margin-bottom: 100px;
    
}

h3 a
{
    color: #E9E6FF;
    font-family:Arial, sans-serif;
    text-decoration: none;
}

.ulextrapad
{
    margin-left: 3%;
}

footer  
{
    font-family: Courier, sans-serif;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 15px;
    text-align: center;
    color: #73683B; 
}
footer a
{
    font-family: Courier, sans-serif;
    color: #E9E6FF;
    text-decoration: none;
    font-size: 20px;
}


.figure
{
    
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 420px;
    margin: auto;
    padding-bottom: 10px;
}

.figcaption
{
    background-color: #B0A084;
    color: #13262F;
    font-style: italic;
    padding: 5px;
    text-align: center;
    padding-bottom: 20px;
}

.center-text
{
    text-align: center;
}

p{
    padding-left: 5%;
    padding-right: 5%;
    text-align: justify;
}

li
{
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: justify;
}

ul
{
    margin-top: 11px;
    padding-left: 5%;
    padding-right: 5%;
    text-align: justify;
}

div
{
    color: #E9E6FF;
    padding-bottom: 20px;
    font-size: 20px;
    
}

 div a 
{
    color: #E9E6FF;
    font-family:Arial, sans-serif;
    text-decoration: none;
    font-size: 20px;
     
}

main
{
    
    padding-bottom: 40px;
}

table
{
    border: 5px solid black;
}

td
{
    border: 2px solid black;
}

th
{
    border: 3px solid black;
}

figure table tr:nth-child(even)
{
    background-color: #777;
    color: #fff;
}

figure table tr:nth-child(odd)
{
    background-color: #999;
    color: #fff;
}

figure table tr:nth-child(1)
{
    background-color: black;
    color: #fff;
}

.figcaption2
{
   
    font: italic;
    padding: 10px;
    margin-left: 300px;

}

form
{
    padding-left: 40px;
}

form p
{
    padding-left: 0px;
}
header img 
{
    max-width: 50px;
    max-height: 50px;
}

main div
{
    margin-left: 30%;
    margin-right: 30%;
    color: #13262F;
}

.p-normal
{
    padding-left: 0%;
}

.button
{
    margin-left: 200px;
}

.space
{
    padding-top: 3%;
    padding-bottom: 3%;
}

.b-space
{
    padding-bottom: 3%;
}

.t-space
{
    padding-top: 3%;
}








