body
{
  font-family: Arial, sans-serif;
  color: #13262F ;
  background-color: #B0A084;
  font-size: large;
}

header
{
  font-family: Courier, sans-serif;
  font-size: larger;
  text-align: center; 
  color: #583E23; 
}

h2
{
    color: #13262F;
    font-family: 'Italianno', cursive;
    font-size: 65px;
    text-align: center;
}

h3
{
    color: #13262F;
    font-family: Arial, sans-serif;
    margin-left: 70px;
    margin-bottom: 30px;
    margin-top: 30px;
    
}

h3 a
{
    color: #E9E6FF;
    font-family:Arial, sans-serif;
    text-decoration: none;
}

.ulextrapad
{
    margin-left: 3%;
}

footer  
{
    font-family: Courier, sans-serif;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 15px;
    text-align: center;
    color: #73683B; 
}
footer a
{
    font-family: Courier, sans-serif;
    color: #E9E6FF;
    text-decoration: none;
    font-size: 20px;
}


.figure
{
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 420px;
    margin: auto;
    padding-bottom: 10px;
}

.figcaption
{
    background-color: #B0A084;
    color: #13262F;
    font-style: italic;
    padding: 5px;
    text-align: center;
    padding-bottom: 20px;
}

.center-text
{
    text-align: center;
}

span span p
{
    padding-left: 5%;
    padding-right: 5%;
    text-align: justify;
}

li
{
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: justify;
}

ul
{
    margin-top: 11px;
    margin-bottom: 11px;
    padding-left: 5%;
    padding-right: 5%;
    text-align: justify;
}

footer div
{
    color: #E9E6FF;
    padding-bottom: 20px;
    font-size: 20px;
    
}

header div
{
    color: #E9E6FF;
    padding-bottom: 20px;
    font-size: 20px;
    
}

 div a 
{
    color: #E9E6FF;
    font-family:Arial, sans-serif;
    text-decoration: none;
    font-size: 20px;
}

main
{
    
    padding-bottom: 40px;
}

table
{
    border: 5px solid black;
}

td
{
    border: 2px solid black;
}

th
{
    border: 3px solid black;
}

figure table tr:nth-child(even)
{
    background-color: #777;
    color: #fff;
}

figure table tr:nth-child(odd)
{
    background-color: #999;
    color: #fff;
}

figure table tr:nth-child(1)
{
    background-color: black;
    color: #fff;
}

.figcaption2
{
   
    font: italic;
    padding: 10px;
    margin-left: 300px;

}

form
{
    display: table;
    border: 3px solid #583E23;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
}


header img 
{
    max-width: 50px;
    max-height: 50px;
}

.div-fscripts
{
    margin-left: 30%;
    margin-right: 30%;
    color: #13262F;
    
}

.dice-button
{
    padding-left: 20px;
}

.button
{
    margin-left: 200px;
}

.space
{
    padding-top: 3%;
    padding-bottom: 3%;
}

.b-space
{
    padding-bottom: 3%;
}

.t-space
{
    padding-top: 3%;
}


.container 
{
    max-width: 300em;
    
}
  
.container > p 
{
    text-align: center;
}
  
.calculator 
{
    border-radius: 5px;
    box-shadow: 0 0 40px 0px rgba(0, 0, 0, 0.15);
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    max-width: 15em;
    overflow: hidden;
}
  
.calculator__display 
{
    background-color: #E9E6FF;
    color: #13262f;
    font-size: 1.714285714em;
    padding: 0.5em 0.75em;
    text-align: right;
}
  
.calculator__keys 
{
    background-color: #999;
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(4, 1fr);
}
  
.calculator__keys > * 
{
    background-color: #E9E6FF;
    padding: 0.5em 1.25em;
    position: relative;
    text-align: center;
}
  
.calculator__keys > *:active::before,
.calculator__keys > .is-depressed::before 
{
    background-color: rgba(0, 0, 0, 0.2);
    bottom: 0;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5) inset;
    content: "";
    left: 0;
    opacity: 0.3;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}
  
.key--operator 
{
    background-color: #E9E6FF;
}
  
.key--equal 
{
    background-image: linear-gradient(to bottom, #fe886a, #ff7033);
    grid-column: -2;
    grid-row: 2 / span 4;
}

div table
{
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #583E23;
    background-color: #73683B;
    color: #E9E6FF;
}

div td
{
    border: 2px solid #583E23;
    background-color: #73683B;
    color: #E9E6FF;
}

div th
{
    border: 3px solid #583E23;
    background-color: #73683B;
    color: #E9E6FF;
}

.array-div
{
    text-align: center;
}

.lable_space
{
    margin-left: 7px;
}

.p-normal
{
    margin-left: 0px;
}

.pad-left
{
    margin-left: 70px;
}

.slider 
{
    margin-top: 10%;
}

.slider img 
{
    display: none;
}

.slider img.active
{
    display: block;
    border: 2px solid white;

}

.container
{
    text-align: center;
    display: table;
    margin: auto;  
}

.container input{
    margin-top: 30px;
    margin-left: 5px;
    margin-right: 5px;
}

.container2 
{
    margin-top: 30px;
    margin-left: 40vh;
    margin-right: 40vh; 
}

.container3 
{
    text-align: center;
    display: table;
    margin: auto; 
}

.container3 h3
{
    text-align: center;
    margin: 0px;
    padding-bottom: 30px;
}

.container3 img
{
    max-width: 82%;
}

.extra_container
{
    margin-left: 90px;
    margin-right: 90px;
}

.container3 p
{
    text-align: left;
    padding-left: 20px;
    padding-bottom: 0px;
}

.container3 li
{
    padding-top: 0px;
    margin-top: 0px;
}

.container5
{
    margin-left: 80px;
    margin-right: 80px;
}

.container5 li
{
    padding-top: 0px;
    margin-top: 0px;
}

.container5 p
{
    margin-bottom: 0px;
    padding-bottom: 0px;
}






