
<div>
    <a href = "./">UNCC</a> :
    <a href = "https://zacharyprivett.github.io/">Github.io</a> |
    <a href = "https://github.com/ZacharyPrivett">Github</a> |
    <a href = "https://www.codecademy.com/profiles/Zprivett" >Codecademy</a> |
    <a href = "https://www.freecodecamp.org/fccde2553d0-9d24-4dbe-9f2c-385c16b15781">FreeCodeCamp</a> |
    <a href = "https://jsfiddle.net/user/Zprivett">JSFiddle</a> |
    <a href = "https://www.linkedin.com/in/zachary-privett-47315a223/">LinkedIn</a>
</div>

<strong>Designed by <a href = "privettenterprise/">Privett Enterprise&copy;2022</a></strong><br><br>   
<a href = "https://validator.w3.org/check?uri=" id = "validation_link_html"><img src = "images/button_validation_html5.png" alt = "button_validation_html5"></a>
<a href = "https://jigsaw.w3.org/css-validator/check/referer?uri=" id = "validation_link_css" > <img src = "images/button_validation_css.png" alt = "button_validation_css"></a>
<script>		
    document.getElementById("validation_link_html").setAttribute("href", "https://validator.w3.org/check?uri=" + location.href);
    document.getElementById("validation_link_css").setAttribute("href", "https://jigsaw.w3.org/css-validator/validator?uri=" + location.href);
</script> 

