

<h1><a href = "index.html"><img src = "images/parrot_logo.png" alt = "parrot_logo"></a>Privett | ITIS 3135 | Zulu Parrot</h1>

<div>
    <a href = "index.html">Home</a> |
    <a href = "introduction.html">Introduction</a> |
    <a href = "contract.html">Contract</a> |
    <a href = "table.html">Table</a> |
    <a href = "forms.html">Forms</a> |
    <a href = "website_evaluations.html">Website Evaluations</a> |
    <a href = "firstscripts.html">First Scripts</a> |
    <a href = "polygons.html">Polygons</a> |
    <a href = "calculator_try.html">Calculator Try</a> |
    <a href = "calculator_fcc.html">Calculator fcc</a> |
    <a href = "arrays.html">Arrays</a> |
    <a href = "slide_show.html">Slideshow</a> |
    <a href = "image_swap.html">Image Swap</a> |
    <a href = "peer_1_review.html">Peer 1 Review</a> |
    <a href = "peer_2_review.html">Peer 2 Review</a>
</div>
    <div>
        <a href = "stuff/Crappy!.htm">Crappy Webpage</a> |
        <a href = "accessibility/Activity_Accessibility.html">Accessibility</a> |
        <a href = "Activity11/Activity11.html">Activity11</a> |
        <a href = "Updated-Activity12/Activity12.html">Activity12</a> |
        <a href = "Activity13/Activity13.html">Activity13</a> |
        <a href = "Activity14/Activity14.html">Activity14</a> |
        <a href = "project_design.html">Project Design</a> |
        <a href = "client_project/index.html">Luxe Color Lab</a> |
        <a href = "hobby/index.html">Hobby</a>
    </div>
