

<h1><a href = "index.html"><img src = "images/parrot_logo.png" alt = "parrot_logo"></a> Privett | ITIS 3135 | Zulu Parrot</h1>

<div>
    <a href = "index.html">Home</a> :
    <a href = "introduction.html">Introduction</a>  :
    <a href = "contract.html">Contract</a> :
    <a href = "table.html">Table</a> :
    <a href = "forms.html">Forms</a> :
    <a href = "brand_zulu_wise_parrot.html">Brand</a> :
    <a href = "stuff/Crappy!.htm">Crappy Webpage</a> :
    <a href = "website_evaluations.html">Website Evaluations</a> :
    <a href = "firstscripts.html">First Scripts</a> :
    <a href = "polygons.html">Polygons</a> :
    <a href = "calculator_try.html">Calculator Try</a> :
    <a href = "calculator_fcc.html">Calculator fcc</a> :
    <a href = "arrays.html">Arrays</a> :
    <a href = "client_project/index.html">Client Website</a> :
    <a href = "slide_show.html">Slide Show</a>
</div>

